<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127427364-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-127427364-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Neuralhub</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
          integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<header>
    <div class="nav">
        {{if .Username}}
            <div class="accountName">
                {{.Username}}
            </div>
        {{else}}
            <a href="https://neuralhub.auth.us-east-1.amazoncognito.com/login?response_type=token&client_id=78npp5b1s0r0ulukpmtupnvc7s&redirect_uri=https://neuralhub.ru/auth">
                Login
            </a>
        {{end}}
    </div>
</header>

<div class="main">
    <picture class="bp left">
        <source srcset="img/index.webp" type="image/webp">
        <img src="img/index.png" alt="Beautiful Picture">
    </picture>

    <section class="head">
        <h1>Write something, and the bot will answer you the same</h1>
        <div class="msgInputBox">
            <label for="msgInput"></label><input type="text" id="msgInput">
            <button type="button" id="button_send_msg"><i class="fas fa-chevron-right"></i></button>
        </div>
        <section id="messages"></section>
    </section>

    <picture class="bp right">
        <source srcset="img/index.webp" type="image/webp">
        <img src="img/index.png" alt="Beautiful Picture">
    </picture>


    <section class="futureList">
        <h3>
            Yes, this is not Neural-, and not even a simple bot.
        </h3>
        <p>
            But on this service, you can soon to place your neural-creation.<br>
            You can talk about it (using Markdown) and even use our API to communicate with users via chat!<br>
            Write me if you are impressed with the idea and you are happy to tell me about:<br>
        </p>
        <p class="mailto">sir.k.zharkov@gmail.com</p>
    </section>
</div>
<script src="scripts/script.js"></script>
</body>
</html>
