@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    height: 100vh;
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: mintcream;
}

header {
    display: inline-flex;
    text-align: center;
    height: 70px;
    background-color: white;
    width: 100%;
    justify-content: center;
}

.nav {
    width: 100%;
    max-width: 1000px;
    margin: 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
}

.nav a{
    color: black;
    padding-top: 30px;
    padding-bottom: 15px;
    text-decoration: none;
    float: right;
}

.nav a:hover {
    box-shadow: 0 2px 0 #3689cb;
}

.accountName {
    padding-top: 30px;
    padding-bottom: 15px;
    float: right;
}

.main {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}

.bp {
    width: auto;
    padding: 40px 80px;
}

.left {
    float: left;
}

.right {
    float: right;
}

section {
    text-align: center;
    max-width: 750px;
    padding: 0 15px;
    font-family: 'Montserrat', sans-serif;
    float: top;
}

#messages {
    text-align: left;
    white-space: pre;
    width: 80%;
}

.msgInputBox {
    max-height: 30px;
    width: 80%;
    display: inline-flex;
}

.main input {
    margin: auto;
    height: 30px;
    padding: 5px 15px;
    background-color: white;
    border: 1px solid darkcyan;
    box-sizing: border-box;
    border-radius: 15px;
    flex: 1 90px;
}

.main button {
    margin: auto auto auto 10px;
    background-color: white;
    border: 1px solid darkcyan;
    border-radius: 100px;
    max-width: 30px;
    width: 30%;
    padding: 5px;
    flex: 1 100px;
    height: 100%;
}

.futureList p {
    font-size: large;
}

.mailto {
    color: darkcyan;
    font-size: 20px;
}